/* #text{
	color:red;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
	background: rgba(19, 21, 31, 0.95);
	border-bottom: 2px solid white;
	transition: all 0.5s;
}

.mainmenu li ul {
	min-width: 205px !important;
}

.login-box input {
	margin-bottom: 10px !important;
	color: black !important;
}

.login-box form .theme-btn {
	border-radius: 15px !important;
	margin-top: 15px !important;
}

.login-box form .theme-btn:hover {
	color: #eb315a !important;
}

.login-box h6 {
	margin-bottom: 10px !important;
}

.login-box form .theme-btn+span {
	margin: 10px 0 !important;
}  */
.single-portfolio-img img {
	width: 100%;
	height: 100%;
}

.single-portfolio-img {
	height: 185px;
}

.portfolio-sidebar .left {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.portfolio-sidebar .left .info_film {
	flex-basis: 67%;
}

.portfolio-sidebar {
	margin-top: 40px;
}

.portfolio-sidebar .left .img {
	flex-basis: 30%;
	margin-bottom: 15px;
	height: 85px;
}

.portfolio-sidebar img {
	height: 100% !important;
	width: 100% !important;
	margin-top: 0 !important;
}

/* detail film */
.breadcrumb-area-custom {
	padding: 0px 0px 200px !important;
}

.transformers-content {
	height: 320px !important;
}

.transformers-content>img {
	height: 100%;
}

.hero-area-content {
	width: 90% !important;
	margin: auto !important;
	height: 300px;
}

.hero-area-content>img {
	height: 100%;
}

/* movie-playing*/
.image .video-area {
	height: 235px;
}

.image .video-area>img {
	height: 100%;
}

.image>h3 {
	padding-top: 20px;
}

#bs_datepicker_showtimedate .dropdown-menu {
	min-width: 22rem !important;
}

#bs_datepicker_showtimedate  .datepicker table {
	width: 100% !important;
}

.img_showtime_date {
	width: 80%;
	height: 140px;
}

.img_showtime_date>img {
	width: 100%;
	height: 100% !important;
}

.time_showtime {
	background: #24262d;
	display: inline-block;
	padding: 8px 15px;
	border: none;
	margin-bottom: 3px !important;
}

.buy-ticket-area {
	margin-top: 35px !important;
	background: transparent !important;
	border: 1px solid #f5f5f5;
	padding: 45px 65px 58px !important;
}

.buy-ticket-box h5, .buy-ticket-box h6 {
	color: #eb315a !important;
}

.stepper-input {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.stepper-input .add, .stepper-input .sub {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background: transparent;
	color: gray;
}

.stepper-input .add span, .stepper-input .sub span {
	line-height: 0;
}

.stepper-input .quantity {
	height: 24px;
	width: 48px;
	text-align: center;
	margin: 0 12px;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.stepper-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.stepper-input input[type="number"]::-webkit-inner-spin-button,
.stepper-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.stepper-input button:focus {
	border: 1px solid buttonface !important;
}

.ticket-box-table {
    justify-content: center !important;
}
.ticket-box-table .ticket-table-seat {
	margin-left: 14px !important;
}

.ulTicket {
	padding-left: 30px !important;
}
.ulTicket li {
	    margin-bottom: 15px !important;
}
.ulTicket::before{
	left: 0px !important;
}
/* respponsive */
@media ( min-width : 992px) {
	.portfolio-sidebar .left .img {
		height: 50px !important;
		margin-bottom: 10px;
	}
}