USE [CINEMA]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[avatar] [text] NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[phone] [varchar](13) NULL,
	[address] [nvarchar](255) NULL,
	[permission] [tinyint] NOT NULL CONSTRAINT [DF__ACCOUNT__permiss__117F9D94]  DEFAULT ((0)),
	[is_active] [bit] NOT NULL CONSTRAINT [DF__ACCOUNT__is_acti__1273C1CD]  DEFAULT ((1)),
	[token] [varchar](max) NULL,
	[create_at] [date] NOT NULL CONSTRAINT [DF__ACCOUNT__create___1367E606]  DEFAULT (getdate()),
	[update_at] [date] NULL,
	[discribe] [ntext] NULL,
 CONSTRAINT [PK__ACCOUNT__F3DBC5730E0DC413] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOOKING](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [varchar](100) NOT NULL,
	[create_at] [datetime] NOT NULL,
	[order_id] [int] NULL,
	[buyticket_id] [int] NOT NULL,
 CONSTRAINT [PK__BOOKING__3213E83F9303AB0E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BUY_TICKET]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_TICKET](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [int] NOT NULL,
	[typeticket_id] [int] NOT NULL,
 CONSTRAINT [PK_BUY_TICKET] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[available] [bit] NOT NULL CONSTRAINT [DF__COMBO__available__31EC6D26]  DEFAULT ((1)),
 CONSTRAINT [PK__COMBO__3213E83F13AD3652] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_at] [date] NOT NULL CONSTRAINT [DF__COMMENT__create___1B0907CE]  DEFAULT (getdate()),
	[update_at] [date] NULL,
	[account_id] [varchar](100) NOT NULL,
	[film_id] [int] NOT NULL,
	[_content] [ntext] NOT NULL,
 CONSTRAINT [PK__COMMENT__3213E83FC5FD273A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FILM]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_film] [tinyint] NOT NULL,
	[category] [tinyint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[actor] [nvarchar](255) NULL,
	[producer] [nvarchar](255) NULL,
	[director] [nvarchar](255) NULL,
	[duration] [int] NOT NULL,
	[describe] [ntext] NULL,
	[trailer] [ntext] NULL,
	[evaluate] [tinyint] NULL,
	[is_show] [bit] NULL CONSTRAINT [DF__FILM__is_show__173876EA]  DEFAULT ((1)),
	[release] [date] NOT NULL,
	[create_at] [date] NOT NULL CONSTRAINT [DF__FILM__create_at__182C9B23]  DEFAULT (getdate()),
	[update_at] [date] NULL,
	[image_film] [ntext] NOT NULL,
 CONSTRAINT [PK__FILM__3213E83FE882B9E9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LINE]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[room_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[combo_id] [int] NOT NULL,
	[amount_combo] [int] NOT NULL,
 CONSTRAINT [PK_ORDERS_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[amount_line] [tinyint] NOT NULL,
	[amount_seat] [tinyint] NOT NULL,
	[is_full] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEAT]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEAT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [bit] NOT NULL DEFAULT ((1)),
	[line_id] [int] NOT NULL,
	[name] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHOWTIME]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOWTIME](
	[day_show] [date] NOT NULL,
	[hour_show] [time](7) NOT NULL,
	[film_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SHOWTIME] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[showtime_id] [int] NOT NULL,
 CONSTRAINT [PK__TICKET__3213E83FAFCE1EAA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_TICKET]    Script Date: 17/11/2019 3:05:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_TICKET](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[available] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([username], [password], [email], [avatar], [fullname], [phone], [address], [permission], [is_active], [token], [create_at], [update_at], [discribe]) VALUES (N'admin', N'thu123', N'admin@gmail.com', N'cho.jpg', N'Lê Thị Thu 1234', N'0363000784', N'97 man thiện hiệp phú quận 9', 1, 1, NULL, CAST(N'2019-11-03' AS Date), CAST(N'2019-11-03' AS Date), N'thu admin')
INSERT [dbo].[ACCOUNT] ([username], [password], [email], [avatar], [fullname], [phone], [address], [permission], [is_active], [token], [create_at], [update_at], [discribe]) VALUES (N'admin0', N'thu123', N'admin0@gmail.com', N'cho.jpg', N'Lê Thị Thu 123', N'0363000784', N'97 Man Thiện, Hiệp Phú, Q9, TPHCM dhfksdhfdjhkf', 1, 1, NULL, CAST(N'2019-10-26' AS Date), CAST(N'2019-11-03' AS Date), N'abc xyz')
INSERT [dbo].[ACCOUNT] ([username], [password], [email], [avatar], [fullname], [phone], [address], [permission], [is_active], [token], [create_at], [update_at], [discribe]) VALUES (N'admin1', N'thu123', N'admin2@gmail', NULL, N'thu', N'3245', NULL, 0, 0, NULL, CAST(N'2019-10-13' AS Date), NULL, N'tkjlrkjtdkj')
SET IDENTITY_INSERT [dbo].[BOOKING] ON 

INSERT [dbo].[BOOKING] ([id], [account_id], [create_at], [order_id], [buyticket_id]) VALUES (22, N'admin', CAST(N'2019-11-06 13:51:11.297' AS DateTime), NULL, 26)
INSERT [dbo].[BOOKING] ([id], [account_id], [create_at], [order_id], [buyticket_id]) VALUES (23, N'admin', CAST(N'2019-11-06 00:51:30.220' AS DateTime), 22, 27)
INSERT [dbo].[BOOKING] ([id], [account_id], [create_at], [order_id], [buyticket_id]) VALUES (24, N'admin', CAST(N'2019-11-06 00:54:54.350' AS DateTime), NULL, 28)
SET IDENTITY_INSERT [dbo].[BOOKING] OFF
SET IDENTITY_INSERT [dbo].[BUY_TICKET] ON 

INSERT [dbo].[BUY_TICKET] ([id], [amount], [typeticket_id]) VALUES (24, 1, 1)
INSERT [dbo].[BUY_TICKET] ([id], [amount], [typeticket_id]) VALUES (25, 1, 1)
INSERT [dbo].[BUY_TICKET] ([id], [amount], [typeticket_id]) VALUES (26, 1, 1)
SET IDENTITY_INSERT [dbo].[BUY_TICKET] OFF
SET IDENTITY_INSERT [dbo].[COMBO] ON 

INSERT [dbo].[COMBO] ([id], [name], [price], [available]) VALUES (4, N'Combo bắp nước', 80000.0000, 1)
INSERT [dbo].[COMBO] ([id], [name], [price], [available]) VALUES (5, N'Combo khoai lang lắc', 50000.0000, 1)
SET IDENTITY_INSERT [dbo].[COMBO] OFF
SET IDENTITY_INSERT [dbo].[COMMENT] ON 

INSERT [dbo].[COMMENT] ([id], [create_at], [update_at], [account_id], [film_id], [_content]) VALUES (1, CAST(N'2019-10-13' AS Date), NULL, N'admin', 1, N'Phim hay quá')
SET IDENTITY_INSERT [dbo].[COMMENT] OFF
SET IDENTITY_INSERT [dbo].[FILM] ON 

SET IDENTITY_INSERT [dbo].[FILM] OFF
SET IDENTITY_INSERT [dbo].[LINE] ON 

INSERT [dbo].[LINE] ([id], [name], [room_id]) VALUES (1, N'A', 1)
INSERT [dbo].[LINE] ([id], [name], [room_id]) VALUES (2, N'B', 1)
INSERT [dbo].[LINE] ([id], [name], [room_id]) VALUES (3, N'C', 1)
SET IDENTITY_INSERT [dbo].[LINE] OFF
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([id], [combo_id], [amount_combo]) VALUES (22, 4, 1)
INSERT [dbo].[ORDERS] ([id], [combo_id], [amount_combo]) VALUES (23, 4, 1)
INSERT [dbo].[ORDERS] ([id], [combo_id], [amount_combo]) VALUES (24, 4, 1)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
SET IDENTITY_INSERT [dbo].[ROOM] ON 

INSERT [dbo].[ROOM] ([id], [name], [amount_line], [amount_seat], [is_full]) VALUES (1, N'Phòng 1', 6, 16, 0)
INSERT [dbo].[ROOM] ([id], [name], [amount_line], [amount_seat], [is_full]) VALUES (2, N'Phòng 2', 5, 25, 0)
SET IDENTITY_INSERT [dbo].[ROOM] OFF
SET IDENTITY_INSERT [dbo].[SEAT] ON 

INSERT [dbo].[SEAT] ([id], [status], [line_id], [name]) VALUES (1, 1, 1, N'1')
INSERT [dbo].[SEAT] ([id], [status], [line_id], [name]) VALUES (2, 1, 1, N'2')
INSERT [dbo].[SEAT] ([id], [status], [line_id], [name]) VALUES (3, 1, 1, N'3')
SET IDENTITY_INSERT [dbo].[SEAT] OFF
SET IDENTITY_INSERT [dbo].[SHOWTIME] ON 

INSERT [dbo].[SHOWTIME] ([day_show], [hour_show], [film_id], [room_id], [id]) VALUES (CAST(N'2019-05-12' AS Date), CAST(N'13:30:00' AS Time), 1, 1, 1)
INSERT [dbo].[SHOWTIME] ([day_show], [hour_show], [film_id], [room_id], [id]) VALUES (CAST(N'2019-05-12' AS Date), CAST(N'13:30:00' AS Time), 1, 2, 2)
INSERT [dbo].[SHOWTIME] ([day_show], [hour_show], [film_id], [room_id], [id]) VALUES (CAST(N'2019-05-12' AS Date), CAST(N'14:00:00' AS Time), 2, 1, 3)
SET IDENTITY_INSERT [dbo].[SHOWTIME] OFF
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([id], [booking_id], [seat_id], [showtime_id]) VALUES (26, 22, 24, 1)
INSERT [dbo].[TICKET] ([id], [booking_id], [seat_id], [showtime_id]) VALUES (27, 23, 25, 1)
INSERT [dbo].[TICKET] ([id], [booking_id], [seat_id], [showtime_id]) VALUES (28, 24, 47, 1)
SET IDENTITY_INSERT [dbo].[TICKET] OFF
SET IDENTITY_INSERT [dbo].[TYPE_TICKET] ON 

INSERT [dbo].[TYPE_TICKET] ([id], [name], [price], [available]) VALUES (1, N'Vé người lớn', 75000.0000, 1)
INSERT [dbo].[TYPE_TICKET] ([id], [name], [price], [available]) VALUES (2, N'Vé trẻ em', 45000.0000, 1)
INSERT [dbo].[TYPE_TICKET] ([id], [name], [price], [available]) VALUES (3, N'Vé sinh viên', 50000.0000, 1)
SET IDENTITY_INSERT [dbo].[TYPE_TICKET] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_email]    Script Date: 17/11/2019 3:05:09 CH ******/
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [UK_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_combo]    Script Date: 17/11/2019 3:05:09 CH ******/
ALTER TABLE [dbo].[COMBO] ADD  CONSTRAINT [UK_combo] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_name_film]    Script Date: 17/11/2019 3:05:09 CH ******/
ALTER TABLE [dbo].[FILM] ADD  CONSTRAINT [UK_name_film] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_line]    Script Date: 17/11/2019 3:05:09 CH ******/
ALTER TABLE [dbo].[LINE] ADD  CONSTRAINT [UK_line] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_room]    Script Date: 17/11/2019 3:05:09 CH ******/
ALTER TABLE [dbo].[ROOM] ADD  CONSTRAINT [UK_room] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_ticket]    Script Date: 17/11/2019 3:05:09 CH ******/
ALTER TABLE [dbo].[TYPE_TICKET] ADD  CONSTRAINT [UK_ticket] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[ACCOUNT] ([username])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_account]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_BUY_TICKET] FOREIGN KEY([buyticket_id])
REFERENCES [dbo].[BUY_TICKET] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_BUY_TICKET]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_ORDERS] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDERS] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_ORDERS]
GO
ALTER TABLE [dbo].[BUY_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_BUY_TICKET_TYPE_TICKET] FOREIGN KEY([typeticket_id])
REFERENCES [dbo].[TYPE_TICKET] ([id])
GO
ALTER TABLE [dbo].[BUY_TICKET] CHECK CONSTRAINT [FK_BUY_TICKET_TYPE_TICKET]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_ACCOUNT] FOREIGN KEY([account_id])
REFERENCES [dbo].[ACCOUNT] ([username])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_ACCOUNT]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_FILM] FOREIGN KEY([film_id])
REFERENCES [dbo].[FILM] ([id])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_FILM]
GO
ALTER TABLE [dbo].[LINE]  WITH CHECK ADD  CONSTRAINT [FK_room2] FOREIGN KEY([room_id])
REFERENCES [dbo].[ROOM] ([id])
GO
ALTER TABLE [dbo].[LINE] CHECK CONSTRAINT [FK_room2]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_COMBO] FOREIGN KEY([combo_id])
REFERENCES [dbo].[COMBO] ([id])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_COMBO]
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD  CONSTRAINT [FK_line] FOREIGN KEY([line_id])
REFERENCES [dbo].[LINE] ([id])
GO
ALTER TABLE [dbo].[SEAT] CHECK CONSTRAINT [FK_line]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD  CONSTRAINT [FK_SHOWTIME_FILM] FOREIGN KEY([film_id])
REFERENCES [dbo].[FILM] ([id])
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [FK_SHOWTIME_FILM]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD  CONSTRAINT [FK_SHOWTIME_ROOM] FOREIGN KEY([room_id])
REFERENCES [dbo].[ROOM] ([id])
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [FK_SHOWTIME_ROOM]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [fK_account2] FOREIGN KEY([seat_id])
REFERENCES [dbo].[SEAT] ([id])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [fK_account2]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_TICKET_BOOKING]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_SHOWTIME] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[SHOWTIME] ([id])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_TICKET_SHOWTIME]
GO
ALTER TABLE [dbo].[COMBO]  WITH CHECK ADD  CONSTRAINT [C_price2] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[COMBO] CHECK CONSTRAINT [C_price2]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [C_amount_combo1] CHECK  (([amount_combo]>(0)))
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [C_amount_combo1]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [C_line] CHECK  (([amount_line]>(0)))
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [C_line]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [C_seat] CHECK  (([amount_seat]>(0)))
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [C_seat]
GO
ALTER TABLE [dbo].[TYPE_TICKET]  WITH CHECK ADD  CONSTRAINT [C_price1] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[TYPE_TICKET] CHECK CONSTRAINT [C_price1]
GO
